html {
  overflow-y: scroll;
}
html, body {
  width:100%;
  min-height: 100%;
}
b {
  font-weight:700;
}
em, i {
  text-transform:italic;
}
.center {
  text-align:center;
}
nav {
  width:100%;
  z-index:1000;
  margin:0;
  padding:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
  border-bottom:1px solid rgba(0,0,0,0.5);
  margin-bottom:1em;
}
ul#menu {
  position:relative;
  top:0;
  list-style-type:none;
  text-transform:uppercase;
  margin:0;
  padding:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
label.show-menu {
  text-align:center;
  margin-right:0;
}
.hangindent {
  padding-left: 1em;
  text-indent: -1em;
} 
i.fas, i.far, i.fab {
  margin:0;
  padding:0;
}
div.contact {
  font-size:140%;
  text-align:center;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
}
div.contact a {
  text-decoration:none;
  margin:0 0.5em;
}
div.contact i {
  font-size:180%;
}
.small {
  font-size:80%;
}
.appear {
  display:none;
}
@media (max-width:549px) {
  .vanish {
    display:none;
  }
  table.contact td {
    padding:0 0.6em;
  }
  .appear {
    display:inline-block;
  }
}
.figure {
  text-align: center;
  font-style: italic;
}
.figure img {
  outline:1px solid #222;
}
@media (min-width:550px) {
  .figure.u-pull-right {
    padding-left:1em;
  }
  .figure.u-pull-left {
    padding-right:1em;
  }
}
#menu li {
  display:inline-block;
  float: right;
  margin:0;
}
#menu li a {
  display:inline-block;
  text-decoration: none;
  text-align: center;
  margin:1em;
}
.show-menu {
  text-align: right;
  padding: 1em 0;
  margin:0;
  margin-right:20px;
  display: none;
  text-transform:uppercase;
}
input#show-menu{
    display: none;
}
.profile-img {
  overflow:hidden;
  width:100%;
  background: url("/img/me/hyperwall.jpg") no-repeat; 
  margin-bottom:1em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width : 749px) {
  .profile-img {
    height:350px;
    padding-bottom:0;
    background-position:35% 100%;
  }
}@media (min-width : 750px) {
  .profile-img {
    max-width:960px;
    height:0;
    padding-bottom:51%;
    margin-bottom:1em;
    background-position:center center;
  }
}
@media (max-width : 749px){
  nav {
    display:block;
  }
  ul#menu {
    display: none;
    width:100%;
  }
  #menu li {
    border-top:1px solid rgba(0,0,0,0.5);
  }
  #menu li:last-child {
    border-bottom:1px solid rgba(0,0,0,0.5);
    margin-bottom:-1rem;
  }
  #menu li, #menu li a {
    width: 100%;
    background:#fff;
    margin-left:0;
  }
  .show-menu {
    display:block;
  }
  input#show-menu:checked ~ #menu{
      display: inline-block;
  }
}
.right {
  text-align:right;
}
.vcenter {
   display:flex;
   align-items:center;
   justify-content:center;
}
ul.indent {
  margin-left:2rem;
}
p.spacing {
  margin-bottom:2rem;
}
img.pad-left {
  margin-left:2rem;
}
.table-center {
  float:none;
  margin:2rem auto;
}
.banner {
  text-align:center;
  text-transform:lowercase; 
  font-family: 'Megrim', serif;
  margin-top:1em;
  margin-bottom:1em;
  text-decoration: none;
}
